
/* mainpage colorchange temp */
/* #a2f7b0; */

/* color: var(--blacktext-color); */


:root[data-theme="light"] {
    --mainbgcolor: #C8FFD1;
    --hdftcolorbg: #39BE05;
    --articlebg: #a2f7b0;
    --subhdcolorbg: #39BE05;
    --bordercolor: green solid; 
    --whitetext-color: whitesmoke;
    --blacktext-color: black;
    --indexbtncolor: #39BE05;
}

:root[data-theme="dark"] {
    --mainbgcolor: #1e1f2b;      
    --hdftcolorbg: #36395d;      
    --articlebg: #2b2d3a;        
    --subhdcolorbg: #404477;  
    --bordercolor: #60666d solid; 
    --subhdcolor: #e1e1e6;       
    --whitetext-color: whitesmoke;
    --blacktext-color: white;
    --indexbtncolor: #36395d;      
}



body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--mainbgcolor);
}





/* end navbar css */

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media (max-width: 767.9px) {

    

 body {
         overflow-x: hidden;
    }
    
    /* main logo */

.logo img {
    width: 88px;
    height: 88px;
    padding: 5px;
    display: flex;
    position: relative;
    border-radius: 25px;
}

.logo-Text {
    color: white;
    font-family: cursive;
    font-size: large;
    width: fit-content;
    transition: 0.8 ease;
}

.logo-Text:hover {
    color: greenyellow;
}

/* Header Nav */

.Header-BGC {
    background-color: var(--hdftcolorbg);
    display: flex;
    width: 100%;
    
}

/* .navLinks a {
    display: none;
} */


/* footer */

.footer-BGC {
    background-color: var(--hdftcolorbg);
    width: 100%;
    min-height: 20vh;
    margin-top: 2vh;
    
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 100%;
}
    


.footer-container a:hover {
    color: greenyellow;
}

/* Shared styles */
.footerbox-1,
.footerbox-2,
.footerbox-3,
.footerbox-4,
.footerbox-5,
.footerbox-6,
.footerbox-7,
.footerbox-8 {
    color: white;
}

/* Fonts */
.footerbox-1,
.footerbox-2,
.footerbox-3 {
    font-family: cursive;
}

.footerbox-4,
.footerbox-5,
.footerbox-6,
.footerbox-7,
.footerbox-8 {
    font-family: Arial, Helvetica, sans-serif;
}

.footerbox-4 {
    font-size: x-small;
    max-width: 200px;
    justify-self: center;
}

.footerbox-7 {
    font-size: small;
}

.footerbox-5 a {
    text-decoration: none;
    color: white;

}

/* icons */

.footer-icons {
    position: relative;
    display: none;
    flex-direction: column;
    margin: 5vw;
}

.footer-icons img {
    width: 3.1rem;
    height: auto;
    right: 2vw;
    text-decoration: none;
} 

    /* slideshow */

.slideshow {
    width: 80vw;
    height: 20vh;
    overflow: hidden;
    justify-self: center;
    margin: 1rem;

}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px black;
 
}

.slide.active {
    display: block;
}

/* Index/home page under slideshow */


  .mainpage-colorchange {
      width: 90vw;
      padding: 10px;
      border-radius: 1.5rem;
      margin: 1rem auto; 
      box-sizing: border-box;
      background-color: var(--articlebg);
  }

  /* First article */
  #aboutarticle {
      flex-direction: column; 
      width: 90vw;
      margin: 1rem auto;
      position: relative;
  }

  #about-us {
      font-size: x-large;
      margin-left: 0;
      width: fit-content;
      padding: 5px 10px;
      margin-bottom: 1rem;
      box-shadow: 0px 0px 5px 0px black;
      background-color: var(--subhdcolorbg);
      color: whitesmoke;
  }

  #About-text {
      width: 90%; 
      font-size: medium;
      margin-left: 0;
      padding: 10px;
      box-sizing: border-box;
      margin-bottom: 1rem;
      color: var(--blacktext-color);
      box-shadow: 0px 0px 5px 0px black;
      border-radius: 5px;
      justify-self: center;
  }

  #about-us-img {
      position: relative;
      margin: 1rem auto 0 auto; 
      height: auto;
      width: 90%; 
      max-height: 25vh;
      border-radius: 20px;
      
  }

  /* Second article */
  #recipesh1 {
      font-size: x-large;
      font-family: cursive;
      margin-left: 0;
      width: fit-content;
      padding: 5px 10px;
      margin-bottom: 1rem;
      color: var(--whitetext-color);
      background-color: var(--subhdcolorbg);
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px black;
  }

  #article-2 {
      width: 90vw;
      margin: 1rem auto;
      padding: 10px;
      border-radius: 1.5rem;
      box-sizing: border-box;
      background-color: var(--articlebg);
  }

  .recipes-img1 {
      flex-direction: column; 
      width: 100%;
      height: auto;
      margin: 0;
      align-items: center;
  }

  .recipes-img1 img {
      width: 90%;
      height: auto;
      margin: 0.5rem 0;
      border-radius: 5px;
  }

  .vegan-recipes-text {
      width: 100%;
      margin: 1rem 0 0 0;
      font-size: medium;
      padding: 10px;
      box-sizing: border-box;
      color: var(--blacktext-color);
  }

  /* Button */
  #mainpage-resbutton {
      width: 90%;
      font-size: 14px;
      padding: 10px;
      margin: 1rem auto;
      display: block;
      text-align: center;
      background-color: var(--indexbtncolor);
      color: var(--blacktext-color);
  }

  #mainpage-resbutton:hover {
    color: greenyellow;
}

}



































@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footerbox-4 {
        width: 100%;
    }
}




@media (min-width: 768px) and (max-width: 991px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {

#hamburger-menu {
    display: none;
}



}

@media (min-width: 1200px) {

    body {
         overflow-x: hidden;
    }

#hamburger-menu {
    display: none;
}

 /* main Logo! */

.logo img {
    height: 15vh;
    padding: 5px;
    display: flex;
    position: relative;
    border-radius: 25px;
}

.logo-Text {
    color: white;
    font-family: cursive;
    font-size: x-large;
    width: fit-content;
    transition: 0.8 ease;
}

.logo-Text:hover {
    color: greenyellow;
}

/* Header Nav */

.Header-BGC {
    background-color: var(--hdftcolorbg);
    display: flex;
    width: 100%;
}

.navLinks a {
    font-size: 1.5rem;
    text-decoration: none;
    border: var(--bordercolor);
    width: fit-content;
    color: var(--blacktext-color);
    margin-inline-end: 8vh;
    padding: 1px;
    font-family: cursive;
    font-size: larger;
    transition: 0.8 ease;
    border-radius: 10px;
} 

 .navLinks a:hover {
    color: greenyellow;
}

.navLinks {
    margin-left: 20vw;
}


/* Footer */

.footer-BGC {
    background-color: var(--hdftcolorbg);
    width: 100%;
    height: 20vh;
    margin-top: 2vh;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px 50px;
    margin-right: 17.5vh; 
}

.footer-container a:hover {
    color: greenyellow;
}

.footerbox-1 {
   margin-left: 45%;
   bottom: 0;
   color: white;
   font-family: cursive;
   text-decoration: none;
}

.footerbox-2 {
    margin-left: 45%;
    color: white;
    font-family: cursive;
}

.footerbox-3 {
    margin-left: 45%;
    color: white;
    font-family: cursive;
}

.footerbox-4 {
    margin-left: 45%;
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: x-small;
    width: 20rem;
    align-items: center;
}

.footerbox-5 {
    margin-left: 45%;
    color: white;  
    font-family: Arial, Helvetica, sans-serif;
}

.footerbox-5 a {
    text-decoration: none;
    color: white;
}

.footerbox-6 {
    margin-left: 43%;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;   
}

.footerbox-7 {
    margin-left: 45%;
    color: white;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.footerbox-8 {
    margin-left: 45%;
    color: white;    
    font-family: Arial, Helvetica, sans-serif;
}

/*icons*/

.footer-icons {
    padding-top: 12vh;
    right: 2vw;
    position: absolute;   
}

.footer-icons img {
    width: 3.1rem;
    height: auto;
    right: 2vw;
    text-decoration: none;
}


/* Index/home page */
/* Slide Show */

.slideshow {
    width: 80vw;
    height: 72vh;
    overflow: hidden;
    justify-self: center;
    margin-top: 10px;
    margin: 1rem;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 85px;
    box-shadow: 0px 0px 5px 0px black;
 
}

.slide.active {
    display: block;
}


/* Index/home page under slideshow */

.mainpage-colorchange {
     background-color: var(--articlebg);
     padding: 10px;
     width: 75vw;
     justify-self: center;
     border-radius: 1.5rem;
     position: relative;
}

/* first article */

#aboutarticle {
    margin-left: 8vw;
    width: 80vw;
    display: flex;
   
}

#about-us {
    width: fit-content;
    background-color: var(--subhdcolorbg);
    font-size: xx-large;
    font-family: cursive;
    color: whitesmoke;
    padding: 2px;
    border-radius: 10px;
    margin-left: 10vw;
    box-shadow: 0px 0px 5px 0px black;
}

#About-text {
    color: var(--blacktext-color);
    border: solid 2px black;
    border-radius: 10px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    width: 28vw;  
    padding: 5px;  
    box-shadow: 0px 0px 5px 0px black;
}

#about-us-img {
    margin-left: 40vw;
    margin-bottom: 1vh;
    height: 25vh;
    position: absolute;
    border-radius: 20px;
}

/* second article */

#recipesh1 {
    width: fit-content;
    background-color: var(--subhdcolorbg);
    font-size: xx-large;
    font-family: cursive;
    color: whitesmoke;
    padding: 2px;
    border-radius: 10px;
    margin-left: 10vw;
    box-shadow: 0px 0px 5px 0px black;
}

#article-2 {
     background-color: var(--articlebg);
     padding: 10px;
     width: 75vw;
     justify-self: center;
     border-radius: 1.5rem;
     color: var(--blacktext-color);
}

.recipes-img1 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 20vh;
    border-radius: 10px;
    margin: 1vh;
}

.recipes-img1 img {
    border-radius: 10px;
    margin: 1vh;
    width: 18vw;
}



.vegan-recipes-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 34vw;
    border: black solid 2px;
    border-radius: 10px;
    padding: 1vh;
    margin-left: 18vw;
    box-shadow: 0px 0px 5px 0px black;
    background-color: var(--articlebg);
}

/* button */

#mainpage-resbutton {
  border: none;
  color: whitesmoke;
  font-family: cursive;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2vw;
  cursor: pointer;
  background-color: var(--indexbtncolor);
}

#mainpage-resbutton:hover {
    color: greenyellow;
}


/* Contact */

.container-contact {
    display: grid;
    grid-template-columns: 50vh 50vh; /* 2 columns */
    grid-template-rows: 25vw 25vw;    /* 2 rows */
    gap: 5em;                      /* space between items */
    justify-self: center;
    margin: 2vh;
}

.contact-article {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--articlebg);
    box-shadow: 0px 0px 5px 0px black;
}

/* openingstijden */

#contact-textheader {
    width: fit-content;
    background-color: var(--hdftcolorbg);
    font-size: larger;
    font-family: cursive;
    color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    justify-self: center;
}

.contact-headers {
    width: fit-content;
    background-color: var(--hdftcolorbg);
    font-size: larger;
    font-family: cursive;
    color: whitesmoke;
    padding: 2px;
    border-radius: 10px;
    align-items: center;
}

.openingstijden-text {
    font-size: larger;
    font-family: cursive;
    color: var(--blacktext-color);
}

/* Contact-info */

#contactinfo-text {
    font-size: large;
    font-family: cursive;
    color: var(--blacktext-color);
}

/* contact maps */

#contact-maps {
    width: 22.5vw;
    height: 45vh;
    border-radius: 10px;
    margin-left: 1.5vh;
}


/* Vacatures page */

.Vacature-imges {
  display: flex;       
  align-items: center; 
  gap: 15px;           
}

.Vacature-imges img {
  max-width: 12vw;    
  height: auto;
  margin: 0.5rem;

}

.vacancy-subheader {
    width: 10vw;
    background-color: var(--subhdcolorbg);
    font-size: larger;
    font-family: cursive;
    color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
}

.vanacy-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 2px;
    background-color: var(--articlebg);
    border: solid black 2px;
    border-radius: 5px;
    color: var(--blacktext-color);
}

.Vacature-imges p {
    width: 60vw;
    align-self: center;
}


/* links contact */ 

.subheader-links {
    text-decoration: none;
}




/* reserveren */


@media (max-width: 991px) {

#form {
    margin-top: 3vh;
}
#formBorder {
    display: flex;
    justify-content: center;
}
#formBox {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin-top: 2vh;
    align-items: center;    
    background-color: yellowgreen;
    border: 1px solid black;
    border-radius: 3vh;
    box-shadow: 0 4px 8px black;
}
.DateTijd {
    display: flex;
    flex-direction: row;
}
#dateInput {
    margin-bottom: 1.5vh;
}

#name, #personen, #email, #telNummer, #opmerkingen {
width: 88vw;
display: flex;
}
#name, #personen, #email, #telNummer, #datum, #tijd, #opmerkingen {
    margin-bottom: 1.5vh;
}
#opmerkingen {
    min-height: 7vh;
} 
#submitForm {
    margin-top: 2vh;
    padding: 5px;
    width: fit-content;
    font-size: larger;
    transition: 0.3 ease;
    background-color: #0A9E0D;
    color: white;
    margin-bottom: 3vh;
}
}

@media (min-width: 992px) {
#resH1{
    margin-left: 6vw;
    margin-top: 3vh;
}
#form {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    margin-top: 5vh;
    margin-left: 1.5vw;
    justify-content:space-between ;
}
#formBorder {
    display: flex;
}
#formBox {
    display: flex;
    flex-direction: column;
    width: 92vw;
    margin-top: 2vh;  
    margin-left: 4vw; 
    background-color: var(--articlebg);
    border: 1px solid black;
    border-radius: 3vh;
    box-shadow: 0 4px 8px black;
}
.DateTijd {
    display: flex;
    flex-direction: row;
}
#dateInput {
    margin-bottom: 1.5vh;
}

#name, #personen, #email, #telNummer, #opmerkingen {
display: flex;
}
#name, #personen, #email, #telNummer, #datum, #tijd, #opmerkingen {
    margin-bottom: 1.5vh;
}
#name {
width: 20vw;
}
#email, #telNummer{
width: 30vw;
}
#personen {
width: 10vw;
}
#opmerkingen {
    min-width: 25vw;
    max-width: 89vw;
    min-height: 7vh;
} 
#submitForm {
    margin-top: 2vh;
    padding: 5px;
    width: fit-content;
    font-size: larger;
    transition: 0.3 ease;
    background-color: #0A9E0D;
    color: white;
    margin-bottom: 3vh;
}
}



/* menu */

#dessert, #wijnen, #drinken {
    display: none;
}
#menuSection {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;  
}

.menuImg {
    width: 30%;
}

@media (max-width: 767.9px) {
#btnDessert, #btnWijnen {
    display: none;
}
#dessert {
    display: block;
}
.menuButton{   
display: flex;
box-shadow: 0px 0px 5px 0px black;
border: solid black 1px;
justify-content: center;
align-items: center;
background-color: var(#a2f7b0);
width: 20vw;
height: 8vh;
cursor: pointer;
transition: transform 0.1s;
}
.menuButton:hover {
    transform: scale(1.05);
}
.menuButton:active {
    transform: scale(0.95);
}

#menuSection {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;  
}
.menuRow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}
.menuImg{
    display: none;
}
.menuItems{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.menuHeader {
    font-size: 2.5rem;
    font-weight: bold;
}
.menuImg img {
    height: 30vh;
    max-width: 30vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}
#menuEten, #menuDrank #menuDessert, #menuWijn {
    display: flex;
    flex-direction: column;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.menuButton{   
    display: flex;
    box-shadow: 0px 0px 5px 0px black;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    background-color: var(--subhdcolorbg);
    width: 13vw;
    height: 8vh;
    cursor: pointer;
    transition: transform 0.1s;
}
.menuButton:hover {
    transform: scale(1.05);
}
.menuButton:active {
    transform: scale(0.95);
}

#menuSection {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;  
}
.menuRow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}
.menuImg{
    display: none;
}
.menuItems{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.menuHeader {
    font-size: 2rem;
    font-weight: bold;
}
.menuImg img {
    height: 30vh;
    max-width: 30vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}
#menuEten, #menuDrank #menuDessert, #menuWijn {
    display: flex;
    flex-direction: column;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.menuButton{   
    display: flex;
    box-shadow: 0px 0px 5px 0px black;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    background-color: #3CF354;
    width: 15vw;
    height: 8vh;
    cursor: pointer;
    transition: transform 0.1s;
}
.menuButton:hover {
    transform: scale(1.05);
}
.menuButton:active {
    transform: scale(0.95);
}

#menuSection {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;  
}
.menuRow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}
.menuImg{
    width: 30%;
}
.menuItems{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.menuHeader {
    font-size: 2.2rem;
    font-weight: bold;
}
.menuImg img {
    height: 30vh;
    max-width: 30vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}
#menuEten, #menuDrank #menuDessert, #menuWijn {
    display: flex;
    flex-direction: column;
}
}

@media (min-width: 1200px) {
.menuButton{   
    display: flex;
    box-shadow: 0px 0px 5px 0px black;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    background-color: #3CF354;
    width: 17vw;
    height: 10vh;
    cursor: pointer;
    transition: transform 0.1s;
}
.menuButton:hover {
    transform: scale(1.05);
}
.menuButton:active {
    transform: scale(0.95);
}

#menuSection {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;  
}
.menuRow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}
.menuImg{
    width: 30%;
}
.menuItems{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.menuHeader {
    font-size: 2.5rem;
    font-weight: bold;
}
.menuImg img {
    height: 30vh;
    max-width: 30vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}
#menuEten, #menuDrank #menuDessert, #menuWijn {
    display: flex;
    flex-direction: column;
}
}
}