* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #C8FFD1;
}

/* header {

}

footer {

} */

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 8vh;
}

.hamburgerMenu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.6vh;
}

.bar {
    display: block;
    width: 5vw;
    height: 0.5vh;
    background: rgb(0, 0, 0);
    transition: 0.4s;
}

.navLinks {
    display: none;
}
.navLinks.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    left: 0;
    background-color: yellow;
    width: 100vw;
    min-height: calc(100vh - 8vh);
}

.hamburgerMenu.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburgerMenu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburgerMenu.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}
main.hidden {
    display: none;
}

@media (max-width: 767.9px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    .hamburgerMenu { display: none; }
    .navLinks { display: flex; flex-direction: row; position: static; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hamburgerMenu { display: none; }
    .navLinks { display: flex; flex-direction: row; position: static; }
}

@media (min-width: 1200px) {
    .hamburgerMenu { display: none; }
    .navLinks { display: flex; flex-direction: row; position: static; }
}