* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #C8FFD1;
}

/* main Logo! */
.logo img {
    height: 15vh;

}


/* Header Nav */

.Header-BGC {
    background-color: 0A9E0D ;
}





.navLinks a {
    font-size: 1.5rem;
    text-decoration: none;
    border: solid green;
    width: fit-content;
    color: black;
    margin-inline-end: 10px;
    padding: 1px;
    font-family: cursive;
    font-size:medium;
}


/* end navbar css */





footer {
    /*in progress */
    width: fit-content;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media (max-width: 767.9px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    .hamburgerMenu { display: none; }
    .navLinks { display: flex; flex-direction: row; position: static; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hamburgerMenu { display: none; }
    .navLinks { display: flex; flex-direction: row; position: static; }
}

@media (min-width: 1200px) {
    .hamburgerMenu { display: none; }
    .navLinks { display: flex; flex-direction: row; position: static; }
}