@media screen and (max-width: 767.9px) {

  .navLinks {
    display: none;
    flex-direction: column;
    width: 40%;
    text-align: center;
    justify-self: center;
    z-index: 2;
    border-top: 1px solid var(--accent);
    top: 7vh ;
    right: 0;
    position: absolute;
  }

  .navLinks a {
    text-decoration: none;
    font-size: larger;
    color: whitesmoke;
    border-bottom: 1px solid var(--accent);
    width: 80%;
    font-family: cursive;
    padding: 5%;
  }


.navLinks a {
    background-color: #37af07;
    border: solid 1px black;
    margin-top: 1px;
    margin-bottom: 1px;
}
}