@media screen and (max-width: 767.9px) {

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: var(--bgSecond);
    z-index: 2;
    border-top: 1px solid var(--accent);
    top: 7vh ;
    position: absolute;
  }

  .navLinks a {
    text-decoration: none;
    color: var(--textColor);
    border-bottom: 1px solid var(--accent);
    width: 100%;
    padding: 10px 0;
  }


.navLinks a {
    background-color: red;
}
}